.nav{
    margin-left: 17px;
}
.cadastro{
    margin-left: 800px;
}
.tela{
    padding-top: 40px;
}
.inicio{
    padding-top: 200px;
    padding-left: 590px;
}
.tex{
    margin-left: 500px; 
}
.subtexto{
    margin-left: -45px;
}
.titulo{
    margin-left: 40px;
}
.paragrafo{
    margin-left: -45px;
}