.nav{
    margin-left: 17px;
}
.cadastro{
    margin-left: 700px;
}
.tela{
    padding-top: 40px;
}
.inicio{
    padding-top: 200px;
    padding-left: 590px;
}
.tex{
    margin-left: 500px; 
}
.subtexto{
    margin-left: -45px;
}
.titulo{
    margin-left: 40px;
}
.paragrafo{
    margin-left: -45px;
}
.usu{
    padding-top: 7px;
}
.logout{
    margin-left: 12px;
}
.navbar{
    background-color: #F5E1DA;
}
.body{
    background-color: #F1F1F1;
    height: 602px;
    width: 1080;
}